<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>[Dev] Web-App-Template</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/build/app/style.css">
  </head>
  <body>

    <div id="main"></div>

    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="node_modules/requirejs/require.js"></script>
    <script>
      require.config({
        baseUrl: "../",
        paths: {
          "react":              "node_modules/react/dist/react",
          "react-dom":          "node_modules/react-dom/dist/react-dom",
          "socket.io":          "node_modules/socket.io-client/socket.io"
        },
        packages: [
          { name: "app", location: "assets/build/app/js" }
        ]
      });
      require(["app"]);
    </script>
  </body>
</html>