<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web-App-Template</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/build/app/style.css">
  </head>
  <body>

    <div id="main"></div>
    <script type="text/javascript" src="assets/build/vendor.js"></script>
    <script type="text/javascript" src="assets/build/app/index.js"></script>

  </body>
</html>