.chat {

    top: 20px;
    left: 20px;

    position: relative;
    height: 320px;
    width: 420px;

    & > div:nth-child(1) {
        position: absolute;
        bottom: 20px;
        overflow-y: scroll;
        height: 299px;
        width: 418px;

        border: solid 1px rgb(191,191,191);
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        line-height: 14px;
        font-size: 14px;

        & > :nth-child(odd) {
            background-color: $selection;
        }

        & > :nth-child(even) {
            background-color: $background;
        }
    }

    &>div:nth-child(2) {
        position: absolute;
        bottom: 0px;
        height: 20px;
        width: 420px;

        &>input {
            position: absolute;
            width: 378px;
            height: 18px;
            line-height: 12px;
            font-size: 11px;
            margin: 0px;
            padding: 0px;
            border: solid 1px rgb(191,191,191);
            border-bottom-left-radius: 5px;

            &:focus {
                outline: none;
                background-color: rgb(255,233,206);
            }
        }

        &>div {
            position: absolute;
            top: 0px;
            left: 380px;
            width: 39px;
            height: 18px;
            line-height: 18px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            border-bottom-right-radius: 5px;
            border-top: solid 1px;
            border-bottom: solid 1px;
            border-right: solid 1px;
            border-color: rgb(191,191,191);

            &:hover {
                background-color: rgb(223, 238, 252);
            }
        }
    }
}